.container {
    margin-top: 50px;
}

.contentBlock {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #000000;
    border-radius: 4px;
}
.contentBlock-heading {
    padding: 10px 0px;
}

.subscibeButton {
    width: 100%;
}

.subscribeLabel {
    text-align: left;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.mainNavBlock {
    text-align: center;
}

.mainNavBlock ul {
    display: inline-block;
    font-size: 1.3em;
    padding-right:20px;
}

.mainNavBlock ul li {
    padding: 0px 15px;
    border-right: 1px solid #000;
    list-style: none;
}

.mainNavBlock ul li:last-child {
    border-right: none;
}

.mainNavBlock ul li a {
    font-size: 1.3em;
    padding: 0px;
    text-decoration: underline;
}

.navGlyphicon {
    display: none;
}

.footer {
    border-top: 2px solid #000;
    padding: 20px 0px;
}

.footerMenu ul {
    font-size: 0.8em;

}

.footerMenu ul li {
    border-right: 1px solid #000;
    list-style: none;
    padding: 0px 10px;
}

.footerMenu ul li:first-child {
    padding-left: 0px;
}

.footerMenu ul li:last-child {
    border-right: none;
}

.footerMenu ul li a {
    font-size: 1.3em;
    padding: 0px;
    text-decoration: underline;
}

.footerSocial {
    font-size: 3em;
}

.footerSocial {
    margin-top: 15px;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .mainNavBlock {
        text-align: left;
    }

    .mainNavBlock ul {
        font-size: 1.1em;
        padding: 40px 0px 20px 0px;
    }

    .footerSocial {
        margin: 0px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .mainNavBlock ul {
        font-size: 1.8em;
        padding: 40px 0px 20px 10px;
    }

    .mainNavBlock ul li {
        padding: 10px;
        border: none;
    }

    .navGlyphicon {
        display: inline;
        margin-right: 15px;
    }

    .mainNavBlock ul li a{
        font-size: 1.0em;
        padding: 5px;
        text-decoration: none;
    }
}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .mainRow {
        position: relative;
    }

    .mainNavBlock{
        position: absolute;
        top: 170px;
    }

    .mainNavBlock ul {
        font-size: 1.7em;
        padding: 20px 0px 50px 50px;
    }

    .nav-pills > li {
        float: none;
    }

    .footer .nav-pills > li {
        float: left;
    }

    .mainNavBlock ul li a{
        font-size: 1.3em;
    }
}

